.img-beautiful {
    margin-bottom: -48px;
}

.icon {
    margin-right: 10px;
}

.item-details {
    margin-bottom: 20px;

    font-size: 18px;
}

.title-sec-beutiful {
    @extend %title-secondery;

    margin-bottom: 35px;
}

.line-beautiful {
    @extend %line;

    margin-bottom: 30px;
}