.contacts {
    background-color: #ededed;
}
.container-contacts {
    padding0bottom: 60px;

    @include media-breakpoint-up(lg) {
    padding-bottom: 370px;
    }
}

.text-address {
    color: inherit;
}

.line-contacts {
    @extend %line;

    margin-bottom: 60px;
}