.customize {
  background-color:  #f2f2f2;
}

.section-title {
    margin-top: 65px;
    margin-bottom: 0px;
}
.title-all {
    margin-top: 25px;
    margin-bottom: 0px;
}

.line-customize {
    margin-top: 30px;
    margin-bottom: 0px;
}

.text-customize {
    margin-top: 30px;
    margin-bottom: 0px;
}