.registration-window {
    background-color: #15141a;
    padding-top: 30px;  
    padding-bottom: 30px;

    width: 100%;
    @include media-breakpoint-up(lg) {
        position: absolute;

        left: 50%;
        transform: translate(-50%) scale(1);
        bottom: -85px;

        width: 770px;
        padding: 60px 85px 60px 75px;
    }
}


input,
input[type=text] {
    background-color: #15141a !important;
    border: 1px solid #606062 !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;

    margin: 0 0px 20px 0 !important;
    padding: 20px 18px !important;

    font-family: inherit !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    line-height: 1.14 !important;

    width: 300px;
}

.comments {
    background-color: #15141a;

    font-family: inherit !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    line-height: 1.14 !important;

    width: 300px;
    padding: 22px 22px;

    resize: none;
}

.comments-text {
    margin-bottom: 15px;
}

.btn-form {
    font-family: inherit !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    line-height: 1.14 !important;

    background-color: #008ed6; 

    padding: 20px 33px;
}