%line {
    width: 42px;
    height: 2px;
    background-image: linear-gradient(
    to right,
    #008ed6 42%,
    #008ed6 50%,
    rgba(255, 0, 0, 0) 50%,
    rgba(255, 0, 0, 0) 52%,
    #008ed6 52%,
    );
}

%title {
    color: #008ed6;
    font-size: 14px;
    font-weight: bold;
    line-height: 2;
    text-transform: uppercase;

    margin-bottom: 25px;
}

%title-secondery {
    font-size: 36px;
    font-weight: 600;
    line-height: 0.8;
    color: #1a1a1a;
    margin-bottom: 45px;
}