.carousel-main {
    background-image: url(../images/prostokąt.jpg);

    // background-color: rgba(47, 48, 58, 0.8);
    max-width: 100%;
    max-height: 640px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

// .plans {
//         // background-image: url(../images/prostokąt.jpg);
//     max-width: auto;
// }

.title-sec-princing {
    @extend %title-secondery;
    
    color: #fff;

    margin-bottom: 30px;
}
