.title-product {
    @extend %title;

    margin-bottom: 20px;
}

.custom-overview {
    width: 90px;
    height: 90px;
    margin: auto;
}

.custom-list {
    font-size: 36px;
    font-weight: 800;
    line-height: 1;
    color: #1a1a1a;

    margin-bottom: 35px;
}

.line-product {
    @extend %line;

    margin-bottom: 70px;
}

.card-title {
    font-size: 24px;
    line-height: 0.83;
    color: #1a1a1a;  
}

.card-text {
    font-size: 18px;
    line-height: 1.44;
    
}


