.custom-overview {
    width: 90px;
    height: 90px;
    margin: auto;
}

.custom-list {
    margin-bottom: 35px;
}

.line {
    width: 42px;
    color: #008ed6;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    margin-top: 0%;
}

// .product-container {
//     padding-bottom: 65px;
// }