.title-product {
    @extend %title;

    margin-bottom: 20px;
}

.custom-overview {
    width: 90px;
    height: 90px;
    margin: auto;
}

.custom-list {
    font-size: 36px;
    font-weight: 800;
    line-height: 1.33;
    color: #1a1a1a;

    margin-bottom: 45px;
}

.line-product {
    @extend %line;
    // margin-right: auto;
    // margin-left: auto;

    margin-bottom: 70px;
}


