a, a:visited{text-decoration: none;}
ul li{list-style: none;}

a:hover,a:focus {
    color: inherit !important;
}

body {
    background-color: #fff;
    color: #999999;
    font-family: Source Sans Pro, sans-serif;
    letter-spacing: 0.03em;
}


.container {
    padding-top: 65px;
    padding-bottom: 65px;
}

.title-primery {
    color: #008ed6;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;

    margin-bottom: 25px;
}
